/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #001574;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

.barra-pesquisa {
    margin-top: 15px;
}

.barra-pesquisa input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

main {
    padding: 20px;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.categoria-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #001574;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.categoria-btn:hover {
    background-color: #777;
}

.categoria-btn.ativo {
    background-color: #007bff;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.descricao {
    padding: 15px;
}

.descricao h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.descricao p {
    font-size: 1rem;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}